@media(max-width:872px){
    .mockup{
        height: 31.8rem;
        width: 22.5rem;
        background-position: -620px -300px;
    
        .woman_img{
            background-position: -50px 95px;
            background-size:  105%;
        } 
        img{
            height: 153px;
            width: 147px;
            margin-left: -72px;
        }
    }
    
    .faq{
        width: 19.8rem;
    }
}