@media(max-width:942px){
    .mockup{
        height: 31.8rem;
        width: 25.5rem;
        background-position: -590px -300px;
        
        img{
            height: 159px;
            width: 153px;
            margin-left: -72px;
        }
        
        .woman_img{
            background-position: -50px 75px;
            background-size:  100%;
        } 
    }
}