*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;

    background: linear-gradient(to bottom,hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
section {
    width: 920px;
    height: 509px;
    background:#ffffff;
    border-radius: 1.3rem;

    display: flex;

    align-items: center;
}
h1{
    font-size: 34px;
}
.mockup{
    height: 509px;
    width: 480px;
    background-image: url("../images/bg-pattern-desktop.svg"),url("../images/illustration-woman-online-desktop.svg");
    background-position: -573px -300px,-80px 63px;
    background-repeat: no-repeat;
    
}
.mockup img{
    margin-top: 200px;
    margin-left: -92px;
}
.conteudo{
    margin-top: 70px;
}
.conteiner{
    margin-top: 33px;
}
.conteiner p{
    color: hsl(240, 6%, 50%);
    font-size: 14px;
    font-weight: 400;
}
.conteiner span{
    color: hsl(240, 6%, 50%);
    font-weight: 500;
    
}
.conteiner span:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}
.faq{
    margin-bottom: 20PX;
    width: 21.8rem;
    border-bottom: solid 1px #E9E9E9;
}
.faq .arrow{
    display: flex;
    justify-content: space-between;
}
.faq .arrow img{
    height: 7px;
}